* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 50px;
}

p {
    color: #808080;
    font-size: 16px;
}

.flexible-container {
    display: flex;
    margin-bottom: 120px;
}



.blue {
    color: #1966FF;
}

/* template css */
header .header-wrap {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

header .logo span {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #1966FF;
}

header nav ul {
    float: left;
}

header nav ul li {
    display: inline-block;
    padding: 5px 10px;
}

header nav ul a {
    text-decoration: none;
    color: #1966FF;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

header .btn .Link-button {
    margin: 0;
}

.home-area {
    width: 50%;
    padding-top: 100px;
    margin-left: 100px;
    padding-left: 4%;

}

.home-area img {
    width: 80%;
}

.Link-button {
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 31px;
    color: #fff;
    background: linear-gradient(45deg, rgb(0, 95, 139), skyblue);
    display: inline-block;
    margin-top: 30px;

}

.about {
    background-image: url(./img/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}

.about-area {
    width: 50%;
}

.about-area img {
    padding-left: 100px;
    width: 60%;
    height: 100%;

}

.about-area h1 {
    padding-top: 80px;
}

.recipe-area {
    text-align: center;
}


.recipe-wrap,
.counter-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
}

.recipe-item {
    margin: 0 20px;
    box-shadow: 1px 2px 6px 3px rgba(174, 174, 174, 0.53);
    -webkit-box-shadow: 1px 2px 6px 3px rgba(174, 174, 174, 0.53);
    -moz-box-shadow: 1px 2px 6px 3px rgba(174, 174, 174, 0.53);
    padding: 20px 20px 30px 20px;
    border-radius: 30px;
}

.recipe-item img {
    height: 100%;
    width: 100%;
}

.recipe-item h3 {
    margin: 20px 0 10px 0;
    font-weight: 700;
}

.counter-wrap {
    box-shadow: 1px 2px 6px 3px rgba(174, 174, 174, 0.53);
    -webkit-box-shadow: 1px 2px 6px 3px rgba(174, 174, 174, 0.53);
    -moz-box-shadow: 1px 2px 6px 3px rgba(174, 174, 174, 0.53);
    padding: 40px 20px 40px 20px;
    border-radius: 20px;
    justify-content: space-around;
}

.counter-item {
    text-align: center;
}

.counter-item h3 {
    font-size: 40px;
    font-weight: 700;
}

footer {
    background: black;
    text-align: center;
    padding: 30px 0;
    margin-top: 50px;
}

.footer-area h2 {
    color: darkgray;
    padding-bottom: 30px;
}